:root {
    // border
    --border-bttm: 1px solid hsl(240, 5%, 91%);

    // texts
    --text-clr: hsl(240, 6%, 50%);
    --active: hsl(237, 12%, 33%);
    
    // hover 
    --hover-txt: hsl(14, 88%, 65%);

    // link
    --link-clr: hsl(238, 29%, 16%);
    --link-txt-clr: hsl(14, 88%, 65%);
}